@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  
  
}

.ButtonX {
  position: relative;
}
.ButtonX {
  cursor: pointer;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(to right, transparent 50%, white 50%);
  background-size: 200% 100%;
  transition: background-position 0.55s;
  background-position: 0 -100%;

}

.ButtonX:hover {
  color: black;
  background-position: -100% 0;
  background: linear-gradient(to right, transparent 50%, );
  cursor: pointer;
  
}

.ButtonX::before {
  transition: all 0.3s ease;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



